<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        body {
            background-color: purple;
        }

        .btn {
            border-radius: 20px;
        }

        #list {
            list-style-type: none;
            padding: 0;
        }

        #list li {
            background-color: #f8f9fa;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 5px;
        }

        #result2 {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div >
        <h4 style="text-align: center;padding: 20px;">Drug-Drug Interaction Checker</h4>
        <div style="position: relative; margin: 0 auto; width: fit-content;">
            <div id="result" style="visibility: hidden"></div>
            <div id="result2" ></div>


            <input id="source" style="margin-bottom: 10px; width: 300px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px; outline: none;" />

            <a onclick="btn_submit()" style="position: absolute; top: 0; left: calc(100% + 10px);" class="btn btn-primary">Submit</a>
            <a onclick="btn_clear()" style="position: absolute; top: 0; left: calc(100% + 120px);" class="btn btn-primary">Clear</a>


             <ul id="list"></ul>
        </div>
    </div>

    <script>
        function generateList(data) {
            // Clear previous list items
            list.innerHTML = '';
            console.log("mydata", data);
            // Loop through the data and create list items
            data.forEach(item => {
                const listItem = document.createElement('li');
                listItem.textContent = item;
                list.appendChild(listItem);
            });
        }

        var brandArray = [];

        const $source = document.querySelector('#source');
        const $result = document.querySelector('#result');
        const $result2 = document.querySelector('#result2');
        const list = document.querySelector('#list');
        const typeHandler = function(e) {
            $result.innerHTML = e.target.value;
            console.log(e.target.value);
            if( e.target.value.length > 0){
                if (brandArray.length !== 0) {
                    $( "#source" ).autocomplete({
                        source: ""
                    });
                    $result2.innerHTML = brandArray[0];
                    console.log("brandarra", brandArray);
                    $.ajax({
                        url: "/recursive_autocomplete",
                        type : 'POST',
                        cache: false,
                        data: {'data': e.target.value, 'stored' : brandArray[0]},
                        success: function(html) {
                            console.log("html:", html);
                            var _ = [];
                            $.each(html, function(index, value) {
                                _.push(value.drug + " " + value.interaction_level[0]["interactionLevel"]); // Assuming the array contains the values you want to use
                            });
                            console.log("_", _);
                            generateList(_);
                        }
                    });
                } else {
                    $.ajax({
                        url: "/autocomplete",
                        type : 'POST',
                        cache: false,
                        data:{'data': e.target.value},
                        success: function(html) {
                            console.log("html:", html);
                            var _ = [];
                            $.each(html, function(index, value) {
                                _.push(value.key); // Assuming the array contains the values you want to use
                            });
                            console.log(_);
                            $( "#source" ).autocomplete({
                                source: _
                            });
                        }
                    });
                }
            }
        }
        $source.addEventListener('input', typeHandler)
        $source.addEventListener('propertychange', typeHandler)
        function btn_submit() {
            // Push the value into the array
            brandArray.push($("#source").val());
            $result2.innerHTML = brandArray[0];
            $("#source").val('');
        }
        function btn_clear() {
            // Push the value into the array
            brandArray = [];
            $("#source").val('');
            $("#result2").empty();
            list.innerHTML = '';
        }
    </script>
</body>
</html>
